<nav class="navbar navbar-default   navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#headicons" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="container-fluid navbar-brand"
               href="#/">Eat Hearty <span class="footer-fontcolor glyphicon glyphicon-cutlery"> </span> </a>
        </div>
        <div id="headicons" class=" navbar-collapse collapse" >
            <ul class=" nav navbar-nav  navbar-right ">
                <li>
                    <!--<a href="#/register">Register</a>-->
                </li>
                <li>
                    <!--<a href="#/login">Login</a>-->
                </li>
                <li>
                    <a href="#/register">Register</a>
                </li>
                <!--<li>-->
                <!--<a href="post.html">Logout</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Login</h1>
    <form name="loginForm" ng-app>
        <div class="control-group"
             ng-class="{true: 'error'}[submitted && loginForm.username.$error.required]">

            <input ng-model="username"
                   type="text"
                   name="username"
                   class="form-control"
                   placeholder="username"
                   required/>

            <span class="help-inline validation" ng-show="submitted && loginForm.username.$error.required">Username cannot be empty</span>
        </div>
        <div class="control-group"
             ng-class="{true: 'error'}[submitted && loginForm.password.$error.required]">
            <input ng-model="password"
                   class="form-control"
                   name="password"
                   placeholder="password"
                   type="password"
                   required/>
             <span class="help-inline validation" ng-show="submitted &&
            loginForm.password.$error.required">Password cannot be empty</span>
        </div>
        <a ng-click="model.login(username, password); submitted=true"
           class="btn btn-primary btn-block"
           role="button">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register"
           role="button">Register</a>
        <a class="btn btn-primary btn-block"
           href="/auth/facebook"
           role="button">
            <span class="fa fa-facebook-official"></span>
            Facebook </a>

    </form>

</div>


<nav class="navbar navbar-default  navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <span class=" glyphicon glyphicon-cutlery"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>
