
<nav class="navbar navbar-default footer-back-col navbar-fixed-top">
    <div class="container-fluid ">
        <div class="navbar-header  ">

                <a class="navbar-brand" href="#/">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>

            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}/findPeople">Find People</a>
            </p>
        </div>
    </div>
</nav>




<div class="container">



        <div ng-if="model.success" class="alert alert-success">
            {{model.success}}
        </div>


        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

    <!--<div  ng-if="model.user.photo" class="media-body media-middle">-->
        <!--<a href="{{model.user.photo}}">-->
            <!--<img class="media-object"-->
                 <!--src="{{model.user.photo}}"-->
                 <!--alt="Profile Picture">-->
        <!--</a>-->
    <!--</div>-->


    <form>
        <div class="form-group">
            <label for="Username">Username</label>
            <input ng-model="model.user.username"

                   type="text"
                   class="form-control"
                   id="Username" >


        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   >

        </div>
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="FirstName" >
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="LastName">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input ng-model="model.user.phone"
                   type="number"
                   class="form-control"
                   id="phone">
        </div>

        <!--<a class="btn btn-danger btn-block" href="#/login" role="button">Logout</a>-->
        <!--&lt;!&ndash;<a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/findFriend" role="button">Find people</a>&ndash;&gt;-->
        <!--<a ng-click="model.unregister()" class="btn btn-danger btn-block"  role="button">Unregister</a>-->
        <a class="btn btn-primary btn-block" ng-click="model.updateUser()" role="button">Update Profile</a>
        <a class="btn btn-danger btn-block" ng-click="model.logout()" role="button">Logout</a>
    </form>
    <!--<form action="/api/uploadPic"  method="post" enctype="multipart/form-data">-->
        <!--<input  name="myFile" type="file" class="form-control"/>-->
        <!--<input  name="userId" value="{{model.user._id}}" style="display: none"/>-->
        <!--<button type="submit" class="btn btn-block btn-primary upload-image">Upload Image</button>-->
        <!--<a class="btn btn-success btn-block" ng-click="model.updateUser()" role="button">Update Profile</a>-->
        <!--<a class="btn btn-danger btn-block" ng-click="model.logout()" role="button">Logout</a>-->
    <!--</form>-->

</div>
<nav class="navbar navbar-default footer-back-col navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <span class=" glyphicon glyphicon-cutlery"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>
