<nav class="navbar navbar-default footer-back-col navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header footer-color">
            <button type="button" class="navbar-toggle collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>
        </div>

        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.user.userId}}">Home</a>
                </li>
                <li>
                <a ng-click="model.addFollow()">Follow {{model.userOther.username}}</a>
                </li>
                <li>
                    <a ng-click="model.unfollowUser()">Unfollow {{model.userOther.username}}</a>
                </li>
                <li>
                    <a href="#/login">Logout</a>
                </li>
                <!--<li>-->
                <!--<a href="post.html">Logout</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 pad">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">Profile</li>
        <li role="presentation"> <a href="#/user/{{model.user.userId}}/{{model.userOther._id}}/likes">Likes</a></li>
        <li role="presentation"><a href="#/user/{{model.user.userId}}/{{model.userOther._id}}/likes">Reviews</a></li>
        <li role="presentation"><a href="#/user/{{model.user.userId}}/followedBy/{{model.userOther._id}}">Followers</a></li>
        <li role="presentation"> <a href="#/user/{{model.user.userId}}/{{model.userOther._id}}/follows" >Follows</a></li>
    </ul>
<div class="container">
    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.success}}
    </div>
    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>



    <form name="registerForm" ng-app>
        <div class="form-group">
            <label for="Username">Username</label>
            <input ng-model="model.userOther.username"

                   type="text"
                   class="form-control"
                   id="Username" >


        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.userOther.email"
                   type="email"
                   class="form-control"
                   id="email">

        </div>
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input ng-model="model.userOther.firstName"
                   type="text"
                   class="form-control"
                   id="FirstName" >
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input ng-model="model.userOther.lastName"
                   type="text"
                   class="form-control"
                   id="LastName">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input ng-model="model.userOther.phone"
                   type="number"
                   class="form-control"
                   id="phone">
        </div>
    </form>
</div>
    </div>




<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row des-foot bottom-cut">-->
                <!--<h2 class="footer-color ">-->
                    <!--<span class=" glyphicon glyphicon-cutlery"></span></h2>-->
                <!--</a>-->

        <!--</div>-->
    <!--</div>-->
<!--</nav>-->


<nav class="navbar navbar-default footer-back-col navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <span class=" glyphicon glyphicon-cutlery"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>