<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header page-scroll">-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/home" class="navbar-brand page-scroll">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right">
           <li>

                <a href="#/home">Search Restaurants without logging in</a>
                </li>
                <li>

                <a href="#/login">Already have an account?</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--<nav class="navbar navbar-inverse  navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" >-->
                <!--Eat Hearty-->
            <!--</a>-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav navbar-right">-->

                    <!--<li>-->

                        <!--<a href="#"></a>-->
                    <!--</li>-->
                    <!--<li>-->

                        <!--<a href="#"></a>-->
                    <!--</li>-->
                    <!--<li>-->

                        <!--<a href="#/home">Search Restaurants without logging in</a>-->
                    <!--</li>-->
                    <!--<li>-->

                        <!--<a href="#/login">Already have an account?</a>-->
                    <!--</li>-->

                    <!--<li>-->

                        <!--<a href="#/login">Already have an account?</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="post.html">Logout</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div class="container  pad-top">
    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.success}}
    </div>
    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>
    <h1>Register</h1>
    <form name="registerForm" ng-app>
        <div class="control-group"  ng-class="{true: 'error'}[submitted && registerForm.username.$error.required]">
            <input ng-model="username"
                   type="text"
                   name="username"
                   class="form-control"
                   placeholder="username" required/>
            <span class="help-inline validation"
                  ng-show="submitted && registerForm.username.$error.required">Username cannot be empty</span>
        </div>
        <div class="control-group"  ng-class="{true: 'error'}[submitted && registerForm.password.$error.required]">
            <input ng-model="password1"
                   class="form-control"
                   placeholder="password"
                   name="password"
                   type="password" required/>
            <span class="help-inline validation"
                  ng-show="submitted && registerForm.password.$error.required">password cannot be empty</span>
        </div>
        <div class="control-group"  ng-class="{true: 'error'}[submitted && registerForm.verifyPassword.$error.required]">
            <input ng-model="password2"
                   class="form-control"
                   placeholder="verify password"
                   name="verifyPassword"
                   type="password" required/>
            <span class="help-inline validation"
                  ng-show="submitted && registerForm.verifyPassword.$error.required">verify password cannot be empty</span>
        </div>
        <div class="control-group"  ng-class="{true: 'error'}[submitted && registerForm.email.$error.required]">
            <input ng-model="email"
                   class="form-control"
                   placeholder="john@gmail.com"
                   name="email"
                   type="email" required/>
            <span class="help-inline validation"
                  ng-show="submitted && registerForm.email.$error.required">email is either empty or not proper</span>
        </div>
        <a class="btn btn-primary btn-block" ng-click="model.register(username, password1, password2, email); submitted=true" role="button">Register</a>
        <a class="btn btn-danger btn-block" href="#/login" role="button">Cancel</a>

    </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <a href="#/home">
                    <span class="footer-fontcolor glyphicon glyphicon-cutlery"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>
