<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >
                Eat Hearty
            </a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>

                        <a href="#/login">Already have an account?</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="post.html">Logout</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="res-back-color box-search">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                <div >
                    <h2>{{model.restaurant}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>