<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.navigateToWebsiteList()">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" >
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite(model.website)"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.success}}
    </div>

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <!--ng-class="{true: 'error'}[submitted && websiteNewForm.websiteName.$error.required]">-->
            <label  for="websiteName">Name</label>
            <input type="text"
                   ng-model="model.website.name"
                   class="form-control"
                   id="websiteName"
                   placeholder="Name of website"
                   required/>
        </div>
        <div class="control-group">
            <label  for="Description">Description</label>
        <textarea
                class="form-control"
                ng-model="model.website.description"
                id="Description"
                rows="4"
                placeholder="Description of the website"></textarea>
        </div>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a ng-click="model.navigateToProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>