
input.form-control {
    margin-bottom: 5px;

}
body {
    padding-top: 50px;
    padding-bottom: 60px;
    }

.box-search{
    box-shadow: 1px 1px 10px #890
}
.frn-page{
    background-image: url(friendspage.jpg);
padding: 0 0 0 0;
}

.paddingfromtop{
    padding-top: 60px;
}

.res-back-color{
    background-color: lightseagreen;
}
.footer-fontcolor{
    color: #C6E746;


}
.fontcol{
    color: #e5e5e5;
}

.footer-back-col{
    background-color: #c0a16b;
}
.home-pic {

    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    position: relative;
}
.back-pic{
    background-image: url(restaurant2.jpg);
}

.home-padding{
    padding-top: 150px;
    padding-bottom: 150px;
}

.res-pic{
    z-index: 2;
    background: #fffede;

}

.block-disp{
   width: 320px;
    padding: +10px;
    border: +5px  solid grey  ;
    margin: 10px;
    color: brown;
    background-color: white

}

.res-name{
    /*background-color: #afd9ee;*/
    font-size: medium;


}

.img-box{
    height: 75px;
    width: 75px;
    max-height:75px;
    max-height:75px;
}

.HTML {
    padding-top: 15px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



a.actionlink {text-decoration: none;
}
.para-pad {
    padding-top: 10px;
}

.para-end {

    padding-bottom: 20px;
}
.form-group{
    margin-top: 10px;
}
.
p.navbar-text.pull-right{
    margin-right: 10px;
    padding-right: 20px;
}

.bottom-profile{
    position: absolute;
    right: 15px;
}
p.navbar-text.pull-left{
    padding-left: 15px;
}

.list-group{
    border: none;
}

.validation{
    background-color: crimson;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index: 2;
}
.navbar-header{



    position: absolute;
    width: 100%;
    top:0;
    text-align: center;

}

.bodyhome{
    background-image: url("restaurant2.jpg");
    width: 100%;
    background-repeat: no-repeat;

}

.des-foot{
    width: 100%;
    height: 100px;
    bottom:0;
    position: fixed;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c0a16b
}
.backgroundFont{
    color: #C6E746;
}

.bottom-cut{
    position: absolute;
    left: 15px;
}