<nav class="navbar navbar-inverse  navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header page-scroll">-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a  href="#/user/{{model.userId}}/home" class="navbar-brand page-scroll">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.userId}}/home">Search Restaurants</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}">Profile</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/findPeople">Find People</a>
                </li>

            </ul>
        </div>
    </div>

</nav>
<!--<div class="container-fluid res-back-color box-search">-->
<div class="container-fluid restaurant-detail pad-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 pull-right">
                <img class="img img-responsive img-thumbnail"
                     ng-src="{{model.restaurant.image_url}}">
            </div>
            <div class="col-lg-5 fontcol">
                <!--<div class="col-lg-6">-->
                <h1>{{model.restaurant.name}}</h1>
                <h3>Address: {{model.restaurant.location.address[0]}}, {{model.restaurant.location.city}}</h3>
                <h4>Phone: {{model.restaurant.display_phone}}</h4>
                <h4>Cuisines: {{model.restaurant.categories[0][0]}}, {{model.restaurant.categories[1][0]}}</h4>


            </div>

            <div class="col-lg-2 fontcol">
                <h6>Rating: {{model.restaurant.rating}}</h6>
            </div>
            <div class="col-lg-2 fontcol" ng-if="!model.thisUserLikes">
                <h5>Like this restaurant:</h5>
                <a class="glyphicon glyphicon-thumbs-up"  role="button"
                   ng-click="model.likeRestaurant()" ></a>
            </div>
            <div class="col-lg-2 fontcol" ng-if="model.thisUserLikes">
                <h5>Unlike this restaurant:</h5>
                <a class="glyphicon glyphicon-thumbs-down"  role="button"
                   ng-click="model.unlikeRestaurant()" ></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 pad">
        <ul class="nav nav-tabs">
            <div ng-if="model.success"
                 class="alert alert-success"
                 role="alert">
                {{model.success}}
            </div>
            <div ng-if="model.error"
                 class="alert alert-danger"
                 role="alert">
                {{model.error}}
            </div>


            <li class=""> <a href="#/user/{{model.userId}}/restaurant/{{model.yelpRestId}}/likes" data-toggle="tab" aria-expanded="false">Liked By</a></li>
            <li class=""> <a href="#/user/{{model.userId}}/restaurant/{{model.yelpRestId}}/reviews" data-toggle="tab" aria-expanded="false">Reviews</a></li>
            <li class="active"> <a href="#/user/{{model.userId}}/{{model.yelpRestId}}/writeReview" data-toggle="tab" aria-expanded="true">Write a Review</a></li>
        </ul>
        <div id="myTabContent" class="tab-content pad-botm">
            <div class="tab-pane fade active in" id="writeReview">
                <form name="reviewForm" ng-app>
                    <div class="control-group form-group">
                        <!--ng-class="{true: 'error'}[submitted && reviewForm.review.$error.required]">-->
                        <label for="review">{{model.restaurant.name}}</label>

            <textarea ng-model="model.review.text"
                      rows="6"
                      class="form-control"
                      type="text"
                      name="review"
                      id="review"
                      required ></textarea>
                    </div>


                    <a ng-if="model.hasReview"  ng-click="model.updateReview(model.review)"
                       class="btn btn-primary btn-block">Update Review</a>
                    <a ng-if="model.hasReview"  ng-click="model.deleteReview(model.review)"
                       class="btn btn-danger btn-block">Delete Review</a>
                    <a ng-if="!model.hasReview"  ng-click="model.addReview(model.review)"
                       class="btn btn-primary btn-block">Submit Review</a>
                </form>
            </div>

        </div>
        <a class="btn btn-success btn-block pad-top-let" href="#/user/{{model.userId}}/restaurant/rating/{{model.yelpRestId}}" role="button">Find similar restaurants</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <a href="#/user/{{model.userId}}/home">
                    <span class="footer-fontcolor glyphicon glyphicon-cutlery"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>
