<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header page-scroll">-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a href="#/login">Log In</a>
            </li>
            <li>
                <a href="#/register">Register</a>
            </li>
        </ul>
    </div>
    </div>

</nav>

<!--<div class="container-fluid res-back-color box-search">-->
<div class="container-fluid restaurant-detail pad-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 pull-right">
                <img class="img img-responsive img-thumbnail"
                     ng-src="{{model.restaurant.image_url}}">
            </div>
            <div class="col-lg-5 fontcol">
                <!--<div class="col-lg-6">-->
                <h1>{{model.restaurant.name}}</h1>
                <h3>Address: {{model.restaurant.location.address[0]}}, {{model.restaurant.location.city}}</h3>
                <h4>Phone: {{model.restaurant.display_phone}}</h4>
                <h4>Cuisines: {{model.restaurant.categories[0][0]}}, {{model.restaurant.categories[1][0]}}</h4>


            </div>

            <div class="col-lg-2 fontcol">
                <h6>Rating: {{model.restaurant.rating}}</h6>
            </div>
        </div>
    </div>
</div>
</div>

<div  class="container HTML">
    <a class="btn btn-primary btn-block"  ng-click="model.clicked()"
       role="button">Click to view more information</a>
    </div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <span class=" glyphicon glyphicon-cutlery"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>

