<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header page-scroll">-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll">Eat Hearty <span class="backgroundFont glyphicon glyphicon-cutlery"> </span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.userId}}/home">Search Restaurants</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}">Profile</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/findPeople">Find People</a>
                </li>
                <li>
                    <a href="#/login">Logout</a>
                </li>
                <!--<li>-->
                <!--<a href="post.html">Logout</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

</nav>
<!--<div class="container-fluid res-back-color box-search">-->
<div class="container-fluid restaurant-detail pad-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 pull-right">
                <img class="img img-responsive img-thumbnail"
                     ng-src="{{model.restaurant.image_url}}">
            </div>
            <div class="col-lg-5 fontcol">
                <!--<div class="col-lg-6">-->
                <h1>{{model.restaurant.name}}</h1>
                <h3>Address: {{model.restaurant.location.address[0]}}, {{model.restaurant.location.city}}</h3>
                <h4>Phone: {{model.restaurant.display_phone}}</h4>
                <h4>Cuisines: {{model.restaurant.categories[0][0]}}, {{model.restaurant.categories[1][0]}}</h4>


            </div>

            <div class="col-lg-2 fontcol">
                <h6>Rating: {{model.restaurant.rating}}</h6>
            </div>
            <div class="col-lg-2 fontcol" ng-if="!model.thisUserLikes">
                <h5>Like this restaurant:</h5>
                <a class="glyphicon glyphicon-thumbs-up"  role="button"
                   ng-click="model.likeRestaurant()" ></a>
            </div>
            <div class="col-lg-2 fontcol" ng-if="model.thisUserLikes">
                <h5>Unlike this restaurant:</h5>
                <a class="glyphicon glyphicon-thumbs-down"  role="button"
                   ng-click="model.unlikeRestaurant()" ></a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 pad">
        <ul class="nav nav-tabs">
            <div ng-if="model.success"
                 class="alert alert-success"
                 role="alert">
                {{model.success}}
            </div>
            <div ng-if="model.error"
                 class="alert alert-danger"
                 role="alert">
                {{model.error}}
            </div>


            <li class="active"><a href="#/user/{{model.userId}}/restaurant/{{model.yelpRestId}}/likes" data-toggle="tab" aria-expanded="true">Liked By</a></li>
            <li class=""><a href="#/user/{{model.userId}}/restaurant/{{model.yelpRestId}}/reviews"  data-toggle="tab" aria-expanded="false">Reviews</a></li>

            <li class=""> <a href="#/user/{{model.userId}}/{{model.yelpRestId}}/writeReview" data-toggle="tab" aria-expanded="false">Write a Review</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="likes">
                <div class="row">
                    <div class="col-lg-1 hidden-lg col-md-1 hidden-md col-sm-1 hidden-sm">
                    </div>
                    <div  class="col-lg-10 col-md-10 col-sm-10 paddingfromtop"  ng-if="model.hasLiked" >
                        <div      ng-repeat="users in model.usersWhoLiked">
                            <div class="well well-sm ">

                                <h5>  <a ng-click="model.checkUser(users._user._id)">
                                    <!--<a href="#/user/{{model.userId}}/{{users._user._id}}/profile">-->
                                        {{users._user.username}}</a> </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10" ng-if="!model.hasLiked" >
                        <h3> No Likes yet!!</h3>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
            <a class="btn btn-success btn-block" href="#/user/{{model.userId}}/restaurant/rating/{{model.yelpRestId}}" role="button">Find similar restaurants</a>
        </div>
    </div>
</div>
        <!--<div class="container" ng-if="model.hasLiked" ng-repeat="users in model.usersWhoLiked">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                        <!--<a href="#/user/{{model.userId}}/{{users._user._id}}/profile">{{users._user.username}}</a>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container ">
        <div class="row  navbar-text">
            <div class="col-lg-3 col-md-3 col-sm-3 bottom-cut footer-fontcolor ">
                <span class=" glyphicon glyphicon-cutlery"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
            </div>
        </div>
    </div>
</nav>
