<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.navigateToPageList()">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" >
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.success}}
    </div>
    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label  for="PageName">Name</label>
            <input
                    ng-model="model.page.name"
                    type="text"
                    class="form-control"
                    id="PageName"
                    value="Blog Post"
            required>
        </div>
        <div class="form-group">
            <label  for="PageTitle">Title</label>
            <input
                    ng-model="model.page.title"
                    type="text"
                    class="form-control"
                    id="PageTitle"
                    placeholder="Page Title">
          </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deletePage()"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a  ng-click="model.navigateToProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
