<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <a ng-click="model.navigateToWebsite()">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.navigateToNewPage()" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-show="model.success"
         class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item list-group">
            <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}/widget" class="actionlink">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a> </li>

    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a ng-click="model.navigateToProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>