
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" >
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.success"
         class="alert alert-success alert dismissible"
         role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong>
        {{model.success}}
    </div>

    <div ng-if="model.error"
         class="alert alert-danger alert dismissible"
         role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong>
        {{model.error}}
    </div>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label  for="Name">Name</label>
            <input ng-model="model.widget.name"
                    type="text"
                    class="form-control"
                    id="Name"
                    value="Roses blossoming ">
        </div>
        <div class="form-group">
            <label  for="TextForWidget">Text</label>
            <input ng-model="model.widget.text"
                    type="text"
                    class="form-control"
                    id="TextForWidget"
                    value="The roses blossoming">
        </div>
        <div class="form-group">
            <label  for="URL">URL</label>
            <input  ng-model="model.widget.url"
                    type="text"
                    class="form-control"
                    id="URL"
                    value="https://www.google.com/search?q=images">
        </div>
        <div class="form-group">
            <!--<label  for="width">Width</label>-->
            <input  ng-model="model.widget.width"
                    type="text"
                    class="form-control"
                    id="width"
                    name="width"
                    value="{{model.widget.width}}"
                    style="display: none">
        </div>

        <input  name="widgetId"
                value="{{model.widget._id}}"
                style="display: none"/>

        <div class="form-group">
            <label for="image-upload">Upload</label>
            <input  ng-model="model.widget.myFile"
                    type="file"
                   class="form-control"
                    name="myFile"
                   id="image-upload"
                   placeholder="No file chosen"
                    data-show-preview="false">
        </div>

    <button type="submit" class="btn btn-primary btn-block"
       role="button">Upload Image</button>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-lg-3 text-center">
            </div>
            <div class="col-lg-3 text-center">
            </div>
            <div class="col-lg-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile text-center ">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user "></span>
                </a>
            </div>
        </div>
    </div>
</nav>
