
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    <form>
        <div class="form-group">
            <label  for="Name">Name</label>
            <input ng-model="model.widget.name"
                    type="text"
                    class="form-control"
                    id="Name"
                    value="Roses blossoming ">
        </div>
        <div class="form-group">
            <label  for="TextForWidget">Text</label>
            <input ng-model="model.widget.text"
                    type="text"
                    class="form-control"
                    id="TextForWidget"
                    value="The roses blossoming">
        </div>
        <div class="form-group">
            <label  for="URL">URL</label>
            <input  ng-model="model.widget.url"
                    type="text"
                    class="form-control"
                    id="URL"
                    value="https://www.google.com/search?q=images">
        </div>
        <div class="form-group">
            <label  for="width">Width</label>
            <input  ng-model="model.widget.width"
                    type="text"
                    class="form-control"
                    id="width"
                    value="100%">
        </div>
        <div class="form-group">
            <label for="image-upload">Upload</label>
            <input  ng-model="model.widget.upload"
                    type="file"
                   class="form-control"
                   id="image-upload"
                   placeholder="No file chosen"
                    data-show-preview="false">
        </div>
    </form>
    <a class="btn btn-primary btn-block" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"  role="button">Upload Image</a>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()" role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
