
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.success}}
    </div>

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label  for="widgetName">Name</label>
            <input ng-model="model.widget.name"
                    type="text"
                   class="form-control"
                   id="widgetName"
                   placeholder="Demo video of CS5610">
        </div>
        <div class="form-group">
            <label  for="TextForWidget">Text</label>
            <input ng-model="model.widget.text"
                    type="text"
                    class="form-control"
                    id="TextForWidget"
                    placeholder="The video explains how the assignment HTML needs to be placed">
        </div>
        <div class="form-group">
            <label  for="URL">URL</label>
            <input  ng-model="model.widget.url"
                    type="text"
                    class="form-control"
                    id="URL"
                    placeholder="https://www.youtube.com/watch?v=F5vqupbtEGE">
        </div>
        <div class="form-group">
            <label  for="width">Width</label>
            <input  ng-model="model.widget.width"
                    type="text"
                    class="form-control"
                    id="width"
                    value="100%">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>