<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" >
                Text Edit Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number" />
    Placeholder
    <input ng-model="model.widget.placeholder"
            class="form-control" />
    <div class="input-group ">
        <input type="text"
        readonly
        class="form-control"
               value="Formatted" />
        <span class="input-group-addon">
            <input ng-model="model.widget.formatted"
                            type="checkbox" />
        </span>
    </div>
    <p></p>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()" role="button">Delete</a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
