
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand" >
              Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group">
            <a ng-click="model.createHeaderWidget()"
               class="actionlink">Header</a>

            </a>
        </li>
        <li class="list-group-item list-group">
            <a href="#" class="actionlink">Label</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a ng-click="model.createHTMLWidget()"
               class="actionlink">HTML</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a ng-click="model.createTextWidget()"
             class="actionlink">Text Input</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a href="#" class="actionlink">Link</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a href="#" class="actionlink">Button</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a ng-click="model.createImageWidget()"
               class="actionlink">Image</a>
            </a>
        </li>

        <li class="list-group-item list-group">
            <a ng-click="model.createYoutubeWidget()"
               class="actionlink">Youtube</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a href="#" class="actionlink">Data Table</a>
            </a>
        </li>
        <li class="list-group-item list-group">
            <a href="#" class="actionlink">Repeater</a>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-lg-3 bottom-profile  text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>